<div class="blur menu" id="bblur">
  <div class="top">
    <div class="container">
      <button type="button" class="dbut" id="sslide">
        <img
          src="https://cdn-icons-png.flaticon.com/128/1828/1828859.png"
          alt="Nav Tab"
          class="nav-image"
        />
      </button>
      <div class="search-container">
        <div class="input-container">
          <input
            id="search"
            class="search"
            class="text"
            type="text"
            placeholder="Search ZipMail"
            class="search-bar"
          />
        </div>
        <button id="searchbutton" class="search-button">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5636/5636698.png"
            alt="Search Button"
            class="button-image"
          />
        </button>
      </div>
      <img
        class="profile"
        src="https://cdn-icons-png.flaticon.com/128/7611/7611685.png"
        alt="Profile Pic"
      />
    </div>
    <div class="submenu">
      <img
        class="bar"
        src="https://cdn-icons-png.flaticon.com/128/542/542638.png"
        alt="Mail"
      />
      <img
        class="bar"
        src="https://cdn-icons-png.flaticon.com/128/876/876210.png"
        alt="Clip"
      />
      <img
        class="bar"
        src="https://cdn-icons-png.flaticon.com/128/3024/3024136.png"
        alt="Star"
      />
      <img
        class="bar"
        src="https://cdn-icons-png.flaticon.com/128/545/545684.png"
        alt="Spam"
      />
    </div>
  </div>
  <div class="scroll" id="scroll"></div>
  <div class="foot">
    <button type="button" class="but">
      <img
        id="bell"
        src="https://cdn-icons-png.flaticon.com/128/3239/3239952.png"
        alt="bell"
      />
    </button>
    <div class="text" id="compose">
      <img
        id="send"
        src="https://cdn-icons-png.flaticon.com/128/10747/10747272.png"
        alt="compose img"
      />
      Compose
    </div>
    <button type="button" class="but" id="slide">
      <img
        src="https://cdn-icons-png.flaticon.com/128/2040/2040504.png"
        alt="settings"
        class="setting-button"
      />
    </button>
  </div>
</div>
