<div id="nav" class="nav">
  <div class="nnav">
    <div class="toption">
      <div class="head">Zipmail</div>
      <div class="text" id="ppppad">Primary Account</div>
    </div>
    <button type="button" class="darrow" id="aarrow"></button>
  </div>
  <hr id="hhr" />
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">All Mail</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/542/542638.png"
      alt="inbox"
    />
  </div>
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">Starred</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/3024/3024136.png"
      alt="inbox"
    />
  </div>
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">Spam</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/545/545684.png"
      alt="inbox"
    />
  </div>
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">Notifications</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/3239/3239952.png"
      alt="inbox"
    />
  </div>
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">Clipboard</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/876/876210.png"
      alt="inbox"
    />
  </div>
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">Drafts</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/8733/8733469.png"
      alt="inbox"
    />
  </div>
  <div class="nnnav">
    <div class="ttoption">
      <div class="head">Sent</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/3024/3024593.png"
      alt="inbox"
    />
  </div>
  <div type="button" class="nnnav dset" id="dset">
    <div class="ttoption">
      <div class="head">Settings</div>
    </div>
    <img
      class="pppppad"
      src="https://cdn-icons-png.flaticon.com/128/2040/2040504.png"
      alt="inbox"
    />
  </div>
</div>
