<div id="settings" class="settings hidden">
  <div class="setting">
    <div>
      <div class="text" id="ppad">Primary Account</div>
      <div class="title">Settings</div>
    </div>
    <button type="button" class="arrow" id="arrow"></button>
  </div>
  <hr />
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/711/711155.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">Inbox Customization</div>
      <div class="text" id="ppppad">Inbox Tips</div>
    </div>
  </div>
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/126/126473.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">Email Preferences</div>
      <div class="text" id="ppppad">Enable smart email</div>
    </div>
  </div>
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/1077/1077063.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">Account Settings</div>
      <div class="text" id="ppppad">Add new account</div>
    </div>
  </div>
  <hr id="hr" />
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/8924/8924420.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">Apps</div>
      <div class="text" id="ppppad">Other applications</div>
    </div>
  </div>
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/471/471664.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">Help</div>
      <div class="text" id="ppppad">How to use ZipMail</div>
    </div>
  </div>
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/9542/9542653.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">Data Privacy</div>
      <div class="text" id="ppppad">Limit data access</div>
    </div>
  </div>
  <div class="option">
    <img
      id="pppad"
      src="https://cdn-icons-png.flaticon.com/128/3024/3024593.png"
      alt="inbox"
    />
    <div class="soption">
      <div class="head">About Zipmail</div>
      <div class="text" id="ppppad">Learn more</div>
    </div>
  </div>
</div>
